body{
    overflow-x: hidden;
    /* width: 100vw; */
    /* padding: 0; */
    /* margin: 0; */
}

@media screen and (max-width: 550px){
    body{
        margin: 0 auto;
    }

    header{
        display: flex;
        justify-content: center;
    }

    main{
        gap: 0px;
        /* margin: 10px 0 0 10px; */
    }

    main > section{
        height: auto;
    }

    #home{
        flex-wrap: wrap-reverse;
    }

    .block{
        margin-left: 15px;
    }
    h1{
        font-size: 3rem;
    }

    a.btn{
        width: 85vw;
    }

    .block > .white-btn{
        align-self: center;
    }

    .photo{
        width: 100vw;
        height: auto;
    }

    #about{
        width: 100vw;
        flex-wrap: wrap;
        gap: 0;
        justify-content: normal;
    }

    #about > article{
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 50px 0 0 0;
        height: 40vh;
        gap: 25px;
        align-items: normal;
    }

    #about > article > h2{
        font-size: 2rem;
    }

    #about > article > p{
        font-size: 1.5rem;
    }

    #about > article:first-child{
        text-align: left;
        padding-left: 15px;
    }

    #about > article:nth-child(2){
        padding-right: 15px;
    }

    #about > article > a{
        font-size: 1.5rem;
    }

    #employee > img{
        /* margin-top: 650px; */
        display: none;
    }

    #employee > article > .numbers{
        font-size: 7rem;
    }

    #employee > article{
        font-size: 2rem;
        width: 100vw;
    }

    #about > article:nth-child(2){
        justify-content: flex-start;
    }

    section#about{
        height: auto;
    }

    #vacations{
        margin-top: 50px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #vacations > article{
        width: 80vw !important;
    }


    #steps > article,
    #gift > article{
        flex-direction: column;
    }

    #gift > article{
        align-items: center;
    }

    #steps{
        margin-left: 15px;
        /* margin-top: 600px; */
    }

    #steps, #gift, #contacts{
        margin-top: 150px;
    }

    div.gift-container{
        scale: 0.9;
    }

    .swiper{
        width: 90vw;
    }


    section#contacts > section.container > div.parent-card:first-child > h3,
    section#contacts > section.container > div.parent-card:first-child > a.card > div.skill-item > div.skill-description{
        display: none;
    }

    section#contacts > section.container{
        flex-direction: column-reverse;
    }

    .parent-card{
        padding: 15px;
    }

    section.container > div.parent-card:first-child{
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
    }

    section.container > div.parent-card:first-child > a.card,
    section.container > div.parent-card:first-child{
        background-color: inherit;
        width: auto;
        padding: 0;
        border: none;
    }

    section.container > div.parent-card > h3{
        align-self: center;
        font-size: 1.5rem;
        color: #004673;
    }

    section.container > div.parent-card:first-child > a.card >div.skill-item > i{
        color: #004673;
    }

    input, textarea{
        width: 80vw;
    }

    #steps > article > div {
        width: auto;
    }
}